html{
  font-size: 18px;
}
nav{
  background-color: black;
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
  width: 100%;
  align-items: center;
}
.logo{
  display: flex;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 12px 0 12px 0.5em;
}
.logo img{
  padding-right: 1rem;
  padding-left: 0.5rem;
  height: 1.5rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}
.logo h2{
  display:inline-block;
  font-size: 1rem;
}
